.App {
  text-align: center;
}

body {
position: absolute;
width: 3900px;
/* height: 3354.53px; */
/* left: -351.35px; */
top: 4.16px;

background: url(../src/images/background.png);
}

header {
  color: white;
  display: flex;
  justify-content: center;
  font-size: 30px;
}

h2 {
  color: white;
  display: flex;
  justify-content: center;
  font-size: 50px;
}

.planets-container {  
  font-size: 50px;
  display: block;
  color: white;
}

.planets-container p {
  padding-left: 180px;
}

.planets-container2 {
  position: absolute;
  display: flex;
}

.missions {
  display: flex;
  padding: 2px;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(255, 255, 255, 0.6);
  position: absolute;
  width: 3800px;
  height: 2800px;
  left: 0px;
  top: 900px;
  padding-top: 80px;
}

.missions h2 {
  position:absolute;
  width: 159px;
  height: 60px;
  left: 1850px;
  top: 0px;

  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 300;
  font-size: 40px;
  line-height: 150%;
  /* identical to box height, or 60px */

  text-align: center;
  text-transform: uppercase;

  color: white;
}

.mission-card {
margin-top: 20px;
display: flexbox;
box-sizing: border-box;
/* position:absolute; */
width: 800px;
height: 500px;
left: 134px;
top: 1672px;
text-align: center;
background: rgba(24, 26, 37, 0.5);
mix-blend-mode: hard-light;
border: 2px solid #FFFFFF;
border-radius: 17px;
color: white;
font-size: 50px;
} 
